
$basic-dark-color: #212121;
$basic-light-color: #fff;
$border-radius: 50%;
$font-size: 25px;

$bg: #fff;
$text: #382b22;
$light-pink: #fff0f0;
$pink: #ffe9e9;
$dark-pink: #f9c4d2;
$pink-border: #b18597;
$pink-shadow: #ffe3e2;

.container {

  text-align: center;
  
  h1 {
    font: {
      family: 'Roboto', sans-serif;
      size: 30px;
    }
    text-transform: uppercase;
    color: $basic-dark-color;
    letter-spacing: 3px;
    
    span {
      display: inline-block;
      
      &:before,
      &:after {
        content: "";
        display: block;
        width: 34px;
        height: 2px;
        background-color: $basic-dark-color;
        margin: 0px 0px 0px 2px;
      }
    }
  }
}

.effect {
  width: 100%;

  background-color: $basic-dark-color;
  
  h2 {
    color: $basic-light-color;
    font: {
      family: 'Playfair Display', serif;
      weight: 400;
      size: 25px;
    }
    letter-spacing: 3px;
  }
  
  &:nth-child(2) {
    margin-top: 50px;
  }
  
  &:nth-child(2n+1) {
    background-color: $basic-light-color;
    
    h2 {
      color: $basic-dark-color;
    }
  }
  
  &:nth-child(2n) {
    
     a {
      color: $basic-light-color;
      border-color: $basic-light-color;
    }
  }
  
  .buttons {
    display: flex;
    justify-content: center;
  }
}


.effect {
  
  a {
    text-decoration: none !important;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius;
    margin-right: 20px;
    font-size: $font-size;
    overflow: hidden;
    position: relative;
    color: $basic-dark-color;
    border: 2px solid $basic-dark-color;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    -ms-border-radius: $border-radius;
    -o-border-radius: $border-radius;
i{
      position: relative;
      z-index: 3;
    }
    &:last-child {
      margin-right: 0px;
    }
    &:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    i {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
.effect.thurio {
  a {
    transition: border-radius 0.2s linear 0s;
    transform: rotate(45deg);
            
    -webkit-transition: border-radius 0.2s linear 0s;
    -moz-transition: border-radius 0.2s linear 0s;
    -ms-transition: border-radius 0.2s linear 0s;
    -o-transition: border-radius 0.2s linear 0s;
i{
      transition: transform 0.01s linear 0s;
      transform: rotate(-45deg);
    }
    
    &:hover {
      border-radius: 0px;
      color: #1ccfc0;
    }
  }
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.3rem;
  font-family: 'Poppins', sans-serif;
  &.learn-more {
    font-weight: 500;
    color: $text;
    padding: 1.25em 2em;
    background: $light-pink;
    border: 2px solid $pink-border;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $dark-pink;
      border-radius: inherit;
      box-shadow: 0 0 0 2px $pink-border, 0 0.625em 0 0 $pink-shadow;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }
    &:hover {
      background: $pink;
      transform: translate(0, 0.25em);
      &::before {
        box-shadow: 0 0 0 2px $pink-border, 0 0.5em 0 0 $pink-shadow;
        transform: translate3d(0, 0.5em, -1em);
      }
    }
    &:active {
      background: $pink;
      transform: translate(0em, 0.75em);
      &::before {
        box-shadow: 0 0 0 2px $pink-border, 0 0 $pink-shadow;
        transform: translate3d(0, 0, -1em);
      }
    }
  }
}